<div class="container">
    <div class="jumbotron ">
    <h1 class="display-4 text-success">Lets Go Camping</h1>
    <p class="lead">Discover your next camping adventure</p>
    <hr class="my-4">
    <p>Camp Your Way is a growing community of good-natured people and the most comprehensive resource for unique outdoor stays. By connecting people with the land and each other, Camp Your Way works to support those who care for the land and get more people out under the stars. We do this because we believe humans in nature bring out the best of human nature.</p>
    <p class="lead">
      <a class="btn btn-success" routerLinkActive="active" routerLink="/destinations" role="button">Discover</a>
    </p>
    </div>
</div>